.button-circle{
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid;
}

.border{
    &-green{
        border-color: green;
        transition: background 0.3s ease-out, color 0.3s ease-out;
        &:hover{
            background: green;
        }
    }
    &-blue{
        border-color: blue;
        transition: background 0.3s ease-out, color 0.3s ease-out;
        &:hover{
            background: blue;
        }
    }
    &-yellow{
        border-color: yellow;
        transition: background 0.3s ease-out, color 0.3s ease-out;
        &:hover{
            background: yellow;
        }
    }
    &-red{
        border-color: red;
        transition: background 0.3s ease-out, color 0.3s ease-out;
        &:hover{
            background: red;
        }
    }
}