<section class="page-header section">
    <div class="page-header__container container">
        <div class="page-header__container-router">
            <div class="page-header__container-router__box">
                <!--#include virtual="/components/general/svg/svg-home.svg" -->
                <p class="page-header__container-router__text">desk » rout » ruls</p>
            </div>
            <h1 class="page-header__container-router__title">Main page</h1>
        </div>
    </div>
    <div class="page-header__border-line"></div>
</section>