<header class="header section container">
    <div class="header-left__box">
        <div class="header-left__box-logo header-item">
            <img src="assets/images/product-goblin.png" alt="" class="header-left__box-logo__img">
            <h2 class="header-left__box-logo__title">Chronos</h2>
        </div>
        <a href="#" class="header-left__box-button">Picture</a>
        <a href="#" class="header-left__box-button">calendar</a>
        <a href="#" class="header-left__box-button">Friends</a>
        <a href="#" class="header-left__box-button">Messages</a>
    </div>
    <div class="header-right__box">
        <img src="assets/images/img-people-1.jpg" alt="" class="header-right__box-img header-item circle-img">
        <button class="header-right__box-button"><img src="assets/images/love.png" alt="" class="header-right__box-button__img full-img"></button>
    </div>
</header>