<div class="assessment-stars">
    <p class="assessment-stars__text">Text:</p>
    <div class="assessment-stars__item">
        <!--#include virtual="/components/general/svg/svg-star.svg" -->
    </div>
    <div class="assessment-stars__item">
        <!--#include virtual="/components/general/svg/svg-star.svg" -->
    </div>
    <div class="assessment-stars__item">
        <!--#include virtual="/components/general/svg/svg-star.svg" -->
    </div>
    <div class="assessment-stars__item">
        <!--#include virtual="/components/general/svg/svg-star.svg" -->
    </div>
    <div class="assessment-stars__item">
        <!--#include virtual="/components/general/svg/svg-star.svg" -->
    </div>
</div>