<section class="shop-section">
    <div class="shop container">
        <div class="shop-box">
            <div class="shop-box__container-grup">
                <button class="button__fill-img button__fill-grey button-setting button-setting__fill">
                    <div class="button__fill-img__img button__fill-img__img-grey">
                        <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                    </div>
                    <span class="button-text">Сортировка</span>
                </button>
                <button class="button__fill-img button__fill-grey button-setting button-setting__fill">
                    <div class="button__fill-img__img button__fill-img__img-grey">
                        <!--#include virtual="/components/general/svg/svg-filter.svg" -->
                    </div>
                    <span class="button-text">Фильтры</span>
                </button>
                <div class="shop-box__container-grup__sort-box">
                    <button class="button__sort">
                        <div class="button__sort-img">
                            <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                        </div>
                        <p class="button__sort-text">По популярности</p>
                    </button>
                    <button class="button__sort">
                        <div class="button__sort-img">
                            <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                        </div>
                        <p class="button__sort-text">По новизне</p>
                    </button>
                    <button class="button__sort">
                        <div class="button__sort-img">
                            <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                        </div>
                        <p class="button__sort-text">По цене</p>
                    </button>
                    <button class="button__sort">
                        <div class="button__sort-img">
                            <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                        </div>
                        <p class="button__sort-text">По рейтингу</p>
                    </button>
                </div>
            </div>
            <div class="shop-box__store-box">
                <div class="shop-box__store-box__store-items">
                    <!--#include virtual="/components/general/shop-list/shop-list.html" -->
                </div>
                <div class="shop-box__store-box__filter-box">

                </div>
            </div>
        </div>
    </div>
</section>