<section class="view-section section">
    <div class="view container">
        <h2 class="view-title">Вы смотрели</h2>
        <div class="view-list">
            <a href="item-index.html" class="shop-item box-shadow view-item">  
                <div class="shop-item__img">
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </div>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolor sit!</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box">
                                <p class="price-product__new">10 000 $</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
            <a href="item-index.html" class="shop-item box-shadow view-item">  
                <div class="shop-item__img">
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </div>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolor sit!</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box">
                                <p class="price-product__new">10 000 $</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
            <a href="item-index.html" class="shop-item box-shadow view-item">  
                <div class="shop-item__img">
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </div>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolor sit!</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box">
                                <p class="price-product__new">10 000 $</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
            <a href="item-index.html" class="shop-item box-shadow view-item">  
                <div class="shop-item__img">
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </div>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolor sit!</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box">
                                <p class="price-product__new">10 000 $</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
            <a href="item-index.html" class="shop-item box-shadow view-item">  
                <div class="shop-item__img">
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </div>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolor sit!</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box">
                                <p class="price-product__new">10 000 $</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</section>