<div class="product-feature">
    <div class="product-feature__circle product-feature__circle-red">
        <div class="product-feature__circle-item">
            <!--#include virtual="/components/general/svg/svg-percent.svg" -->
        </div>
    </div>
    <div class="product-feature__circle product-feature__circle-blue">
        <div class="product-feature__circle-item">
            <!--#include virtual="/components/general/svg/svg-like-up.svg" -->
        </div>
    </div>
    <div class="product-feature__circle product-feature__circle-green">
        <div class="product-feature__circle-item">
            <!--#include virtual="/components/general/svg/svg-new.svg" -->
        </div>
    </div>
</div>