<div class="music-box-section section container">
    <ul class="music-box">
        <li class="music-box__item box-shadow">
            <img src="assets/images/font-img.jpg" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-yellow"></button>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
                <p class="music-box__item-text">Lorem ipsum dolor sit amet</p>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-play.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-pause.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/product-goblin.png" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-blue"></button>
                </header>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/font-img-3.jpg" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-red"></button>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-volume.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/font-img.jpg" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-yellow"></button>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
                <p class="music-box__item-text">Lorem ipsum dolor sit amet</p>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-play.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-pause.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/product-goblin.png" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-blue"></button>
                </header>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/font-img-3.jpg" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-red"></button>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-volume.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/font-img.jpg" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-yellow"></button>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
                <p class="music-box__item-text">Lorem ipsum dolor sit amet</p>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-play.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-pause.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/product-goblin.png" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-blue"></button>
                </header>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
            </footer>
        </li>
        <li class="music-box__item box-shadow">
            <img src="assets/images/font-img-3.jpg" alt="" class="music-box__item-img full-img">
            <div class="music-box__item-box">
                <header class="music-box__item-header">
                    <div class="like">
                        <img src="assets/images/love.png" alt="" class="like__img full-img">
                        <p class="like__text small-text">1011</p>
                    </div>
                    <button class="pinbord-box__button button-circle border-red"></button>
                </header>
                <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            </div>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button">
                        <!--#include virtual="/components/general/svg/svg-volume.svg" -->
                    </button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
    </ul>
</div>