<div class="music-box-section section container">
    <ul class="music-box">
        <li class="music-box__item">
            <header class="music-box__item-header">
                <div class="like">
                    <img src="assets/images/love.png" alt="" class="like__img full-img">
                    <p class="like__text small-text">1011</p>
                </div>
                <button class="pinbord-box__button button-circle border-yellow"></button>
            </header>
            <h2 class="music-box__item-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit</h2>
            <p class="music-box__item-text">Lorem ipsum dolor sit amet</p>
            <footer class="music-box__item-footer">
                <div class="music-box__item-footer__people">
                    <img src="assets/images/img-people-1.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-2.jpg" alt="" class="full-img circle-img__border">
                    <img src="assets/images/img-people-3.jpg" alt="" class="full-img circle-img__border">
                </div>
                <div class="music-box__item-footer__music">
                    <button class="music-box__item-footer__music-button"><img src="" alt="" class="music-box__item-footer__music-button__img"></button>
                    <div class="music-box__item-footer__music-audio">
                        <div class="music-box__item-footer__music-audio__listen"></div>
                    </div>
                </div>
            </footer>
        </li>
    </ul>
</div>