<label class="checkbox-container">
    <input type="checkbox" class="checkbox-container__checkbox">
    <span class="checkbox-container__text">Text</span>
</label>

<label class="checkbox-container">
    <input type="checkbox" class="checkbox-container__checkbox">
    <span class="checkbox-container__text">Text</span>
</label>

<label class="checkbox-container">
    <input type="checkbox" class="checkbox-container__checkbox" checked="checked">
    <span class="checkbox-container__text">Text</span>
</label>

<label class="checkbox-container">
    <input type="checkbox" class="checkbox-container__checkbox" checked="checked">
    <span class="checkbox-container__text">Text</span>
</label>