<section class="font-section section">
    <div class="banner container">
        <div class="banner-box box-shadow">
            <div class="banner__text-box">
                <img src="assets/images/Rectangle.png" alt="" class="banner__text-box__img ">
                <div class="banner__text-box__container">
                    <img src="assets/images/logo.png" alt="" class="banner__text-box__container-img">
                    <h2 class="banner__text-box__container-title">
                        Беговая дорожка  
                        <span class="banner__text-box__container-title__text">для подготовки к марафону</span>
                    </h2>
                    <button class="button__fill-red button-setting button-setting__fill">
                        <p class="button-text">text</p>
                    </button>
                </div>
            </div>
            <div class="banner__img-box"></div>
            <img src="assets/images/font-section.png" alt="" class="banner-box__img full-img">
        </div>
    </div>
</section>