<button class="button__fill button-setting button-setting__fill">
    <p class="button-text">text</p>
</button>



<button class="button__fill-img button-setting button-setting__fill">
    <div class="button__fill-img__img">
        <!--#include virtual="/components/general/svg/svg-shop.svg" -->
    </div>
    <p class="button-text">text</p>
</button>



<button class="button__fill-red button-setting button-setting__fill">
    <p class="button-text">text</p>
</button>

<button class="button__fill-red__border button-setting button-setting__fill">
    <p class="button-text">text</p>
</button>

<button class="button__fill-grey button-setting button-setting__fill">
    <p class="button-text">text</p>
</button>

<button class="button__fill-grey__border button-setting button-setting__fill">
    <p class="button-text">text</p>
</button>



<button class="button__link-big">
    link big
</button>

<button class="button__link-middle">
    link middle
</button>

<button class="button__link-small">
    link small
</button>

<button class="button__link-tiny">
    link tiny
</button>


<button class="button__sort">
    <div class="button__sort-img">
        <!--#include virtual="/components/general/svg/svg-play.svg" -->
    </div>
    <p class="button__sort-text">img + text</p>
</button>


<button class="button__img">
    <div class="button__img-img">
        <!--#include virtual="/components/general/svg/svg-play.svg" -->
    </div>
    <p class="button__img-text">img + text</p>
</button>