<section class="characteristic-item-section">
    <div class="characteristic container">
        <div class="characteristic-img">
            <div class="characteristic-img__img">
                <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__img-img full-img">
            </div>
            <div class="characteristic-img__button">
                <button class="characteristic-img__button-slider">
                    <
                </button>
                <button class="characteristic-img__button-button">
                    <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__button-button__img full-img">
                </button>
                <button class="characteristic-img__button-button">
                    <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__button-button__img full-img">
                </button>
                <button class="characteristic-img__button-button">
                    <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__button-button__img full-img">
                </button>
                <button class="characteristic-img__button-button">
                    <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__button-button__img full-img">
                </button>
                <button class="characteristic-img__button-button">
                    <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__button-button__img full-img">
                </button>
                <button class="characteristic-img__button-button">
                    <img src="assets/images/img-people-1.jpg" alt="" class="characteristic-img__button-button__img full-img">
                </button>
                <button class="characteristic-img__button-slider">
                    >
                </button>
            </div>
        </div>
        <div class="characteristic-text">
            <div class="characteristic-text__header">
                <div class="characteristic-text__header-img">
                    <img src="assets/images/item-1.png" alt="" class="characteristic-text__header-img__img">
                </div>
                <div class="product-feature">
                    <div class="product-feature__box">
                        <div class="product-feature__circle-big product-feature__circle-red">
                            <div class="product-feature__circle-item">
                                <!--#include virtual="/components/general/svg/svg-percent.svg" -->
                            </div>
                        </div>
                        <p class="product-feature__text">Выгодно</p>
                    </div>
                    <div class="product-feature__box">
                        <div class="product-feature__circle-big product-feature__circle-blue">
                            <div class="product-feature__circle-item">
                                <!--#include virtual="/components/general/svg/svg-like-up.svg" -->
                            </div>
                        </div>
                        <p class="product-feature__text">рекомендуем</p>
                    </div>
                    <div class="product-feature__box">
                        <div class="product-feature__circle-big product-feature__circle-green">
                            <div class="product-feature__circle-item">
                                <!--#include virtual="/components/general/svg/svg-new.svg" -->
                            </div>
                        </div>
                        <p class="product-feature__text">новинка</p>
                    </div>
                </div>
            </div>
            <div class="characteristic-text__line"></div>
            <div class="characteristic-text__container">
                <div class="characteristic-text__container-description">
                    <div class="characteristic-text__container-description__button">
                        <button class="button__img">
                            <div class="button__img-img">
                                <!--#include virtual="/components/general/svg/svg-like.svg" -->
                            </div>
                            <p class="button__img-text">В избранное</p>
                        </button>
                        <button class="button__img">
                            <div class="button__img-img">
                                <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                            </div>
                            <p class="button__img-text">В сравнение</p>
                        </button>
                    </div>
                    <div class="characteristic-text__container-description__text">
                        <ul class="shop-item__description-box__item__text-characteristic__box characteristic-text__container-description__text-description">
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text:</span>
                                <span class="text-small__inactive-big">text 2cm</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text text text:</span>
                                <span class="text-small__inactive-big">text text text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text</span>
                                <span class="text-small__inactive-big">text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text:</span>
                                <span class="text-small__inactive-big">text 2cm</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text text text:</span>
                                <span class="text-small__inactive-big">text text text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text</span>
                                <span class="text-small__inactive-big">text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text:</span>
                                <span class="text-small__inactive-big">text 2cm</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text text text:</span>
                                <span class="text-small__inactive-big">text text text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text</span>
                                <span class="text-small__inactive-big">text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text:</span>
                                <span class="text-small__inactive-big">text 2cm</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text text text text:</span>
                                <span class="text-small__inactive-big">text text text</span>
                            </li>
                            <li class="shop-item__description-box__item__text-characteristic__box-item">
                                <span class="text-small__accent-big">text</span>
                                <span class="text-small__inactive-big">text</span>
                            </li>
                        </ul>
                        <a href="#description-section" class="button__link-small">
                            Все характеристики
                        </a>
                    </div>
                </div>
                <div class="characteristic-text__container-buy">
                    <div class="bonus-accent__text">
                        <div class="bonus-accent__text-green__box">
                            <p class="bonus-accent__text-green__text-big">text</p>
                            <div class="bonus-accent__text-green__box-items">
                                <div class="bonus-accent__text-green__circle"></div>
                                <div class="bonus-accent__text-green__circle"></div>
                                <div class="bonus-accent__text-green__circle-border"></div>
                            </div>
                        </div>
                        <p class="bonus-accent__text-blue-big">text</p>
                    </div>
                    <div class="characteristic-text__container-buy__price">
                        <p class="price-product__new-big">10 000 $</p>
                        <p class="price-product__old-big">12 000 $</p>
                    </div>
                    <div class="characteristic-text__container-buy__price-dealers">
                        <p class="characteristic-text__container-buy__price-dealers__price">13 000 $</p>
                        <p class="characteristic-text__container-buy__price-dealers__text">Цена для диллеров</p>
                    </div>
                    <div class="characteristic-text__container-buy__bonus">
                        <p class="characteristic-text__container-buy__bonus-bonus">+ 600</p>
                        <p class="characteristic-text__container-buy__bonus-text">Бонусных $</p>
                    </div>
                    <div class="characteristic-text__container-buy__line"></div>
                    <div class="characteristic-text__container-buy__pay">
                        <div class="characteristic-text__container-buy__pay-box">
                            <button class="characteristic-text__container-buy__pay-button"><span class="characteristic-text__container-buy__pay-button__text">-</span></button>
                            <span class="characteristic-text__container-buy__pay-cont">1</span>
                            <button class="characteristic-text__container-buy__pay-button"><span class="characteristic-text__container-buy__pay-button__text">+</span></button>
                        </div>
                        <a href="basket.html" class="button__fill-img button-setting button-setting__fill">
                            <div class="button__fill-img__img">
                                <!--#include virtual="/components/general/svg/svg-shop.svg" -->
                            </div>
                            <p class="button-text">В корзину</p>
                        </a>
                    </div>
                    <button class="button__link-big-2">
                        Купить в рассрочку от 16 658 $ /мес
                    </button>
                </div>
            </div>
            <div class="characteristic-text__configuration">
                <h3 class="characteristic-text__configuration-title">Конфигурация</h3>
                <ul class="characteristic-text__configuration-list">
                    <li class="characteristic-text__configuration-list__item">
                        <p class="characteristic-text__configuration-list__item-title">Размер см</p>
                    </li>
                    <li class="characteristic-text__configuration-list__item">
                        <form action="" class="characteristic-text__configuration-list__item-form">
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-1">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-1" name="the-size" value="1500" checked="radio-checked">
                                        <span class="radiobutton-label__conteiner-text">1500 x 2000000</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-2">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-2" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">12000 x 2000</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-3">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-3" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">120 x 20</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-4">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-4" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">12 x 200</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-5">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-5" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">1200 x 2000</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-6">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-6" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">1200 x 2000</span>
                                    </div>
                                </label>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="characteristic-text__configuration-list">
                    <li class="characteristic-text__configuration-list__item">
                        <p class="characteristic-text__configuration-list__item-title">Цвет</p>
                    </li>
                    <li class="characteristic-text__configuration-list__item">
                        <form action="" class="characteristic-text__configuration-list__item-form">
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-2">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-2" name="the-size" value="1200">
                                        <div class="radiobutton-label__conteiner-circle circle-yellow"></div>
                                        <span class="radiobutton-label__conteiner-text">yellow</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-3">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-3" name="the-size" value="1200">
                                        <div class="radiobutton-label__conteiner-circle circle-black"></div>
                                        <span class="radiobutton-label__conteiner-text">black</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-4">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-4" name="the-size" value="1200">
                                        <div class="radiobutton-label__conteiner-circle circle-grey"></div>
                                        <span class="radiobutton-label__conteiner-text">grey</span>
                                        <span class="radiobutton-label__conteiner-text__bonus">+ 400 $</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-5">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-5" name="the-size" value="1200">
                                        <div class="radiobutton-label__conteiner-circle circle-red"></div>
                                        <span class="radiobutton-label__conteiner-text">red</span>
                                        <span class="radiobutton-label__conteiner-text__bonus">+ 400 $</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-6">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-6" name="the-size" value="1200">
                                        <div class="radiobutton-label__conteiner-circle circle-white"></div>
                                        <span class="radiobutton-label__conteiner-text">white</span>
                                        <span class="radiobutton-label__conteiner-text__bonus">+ 400 $</span>
                                    </div>
                                </label>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="characteristic-text__configuration-list">
                    <li class="characteristic-text__configuration-list__item">
                        <p class="characteristic-text__configuration-list__item-title">Вес</p>
                    </li>
                    <li class="characteristic-text__configuration-list__item">
                        <form action="" class="characteristic-text__configuration-list__item-form">
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-4">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-4" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">1200</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-5">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-5" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">120</span>
                                    </div>
                                </label>
                            </div>
                            <div class="characteristic-text__configuration-list__item-form__box">
                                <label class="radiobutton-label" for="the-size-6">
                                    <div class="radiobutton-label__conteiner">
                                        <input class="radiobutton" type="radio" id="the-size-6" name="the-size" value="1200">
                                        <span class="radiobutton-label__conteiner-text">2000</span>
                                    </div>
                                </label>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="characteristic-text__plus">
                <h3 class="characteristic-text__plus-title">Вместе дешевле</h3>
                <div class="characteristic-text__plus-list">
                    <div class="shop-item__flex box-shadow">  
                        <a href="item-index.html" class="shop-item__img-small">
                            <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                        </a>
                        <div class="shop-item__description">
                            <ul class="shop-item__description-box">
                                <li class="shop-item__description-box__item">
                                    <div class="shop-item__description-box__item__bonus-item">
                                        <div class="bonus-accent__text-green__box">
                                            <p class="bonus-accent__text-green__text">В наличии</p>
                                            <div class="bonus-accent__text-green__box-items">
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                            </div>
                                        </div>
                                        <p class="bonus-accent__text-blue">Есть в шоу-руме</p>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item">
                                    <h3 class="text-title__h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates!</h3>
                                </li>
                                <li class="shop-item__description-box__item__assessment">
                                    <div class="assessment-stars">
                                        <p class="assessment-stars__text">Text:</p>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item__footer">
                                    <div class="shop-item__description-footer__box">
                                        <p class="price-product__new">10 000 $</p>
                                    </div>
                                    <a href="item-index.html" class="button__fill-img button-setting button-setting__fill">
                                        <div class="button__fill-img__img">
                                            <!--#include virtual="/components/general/svg/svg-plus.svg" -->
                                        </div>
                                        <p class="button-text">Добавить</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="shop-item__flex box-shadow">  
                        <a href="item-index.html" class="shop-item__img-small">
                            <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                        </a>
                        <div class="shop-item__description">
                            <ul class="shop-item__description-box">
                                <li class="shop-item__description-box__item">
                                    <div class="shop-item__description-box__item__bonus-item">
                                        <div class="bonus-accent__text-green__box">
                                            <p class="bonus-accent__text-green__text">В наличии</p>
                                            <div class="bonus-accent__text-green__box-items">
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                            </div>
                                        </div>
                                        <p class="bonus-accent__text-blue">Есть в шоу-руме</p>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item">
                                    <h3 class="text-title__h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates!</h3>
                                </li>
                                <li class="shop-item__description-box__item__assessment">
                                    <div class="assessment-stars">
                                        <p class="assessment-stars__text">Text:</p>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item__footer">
                                    <div class="shop-item__description-footer__box">
                                        <p class="price-product__new">10 000 $</p>
                                    </div>
                                    <a href="item-index.html" class="button__fill-img button-setting button-setting__fill">
                                        <div class="button__fill-img__img">
                                            <!--#include virtual="/components/general/svg/svg-plus.svg" -->
                                        </div>
                                        <p class="button-text">Добавить</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="shop-item__flex box-shadow">  
                        <a href="item-index.html" class="shop-item__img-small">
                            <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                        </a>
                        <div class="shop-item__description">
                            <ul class="shop-item__description-box">
                                <li class="shop-item__description-box__item">
                                    <div class="shop-item__description-box__item__bonus-item">
                                        <div class="bonus-accent__text-green__box">
                                            <p class="bonus-accent__text-green__text">В наличии</p>
                                            <div class="bonus-accent__text-green__box-items">
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                            </div>
                                        </div>
                                        <p class="bonus-accent__text-blue">Есть в шоу-руме</p>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item">
                                    <h3 class="text-title__h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates!</h3>
                                </li>
                                <li class="shop-item__description-box__item__assessment">
                                    <div class="assessment-stars">
                                        <p class="assessment-stars__text">Text:</p>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item__footer">
                                    <div class="shop-item__description-footer__box">
                                        <p class="price-product__new">10 000 $</p>
                                    </div>
                                    <a href="item-index.html" class="button__fill-img button-setting button-setting__fill">
                                        <div class="button__fill-img__img">
                                            <!--#include virtual="/components/general/svg/svg-plus.svg" -->
                                        </div>
                                        <p class="button-text">Добавить</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="characteristic-text__plus-box">
                    <h3 class="characteristic-text__plus-count">Всего: 15 000 $</h3>
                    <a href="basket.html" class="button__fill-img button-setting button-setting__fill">
                        <div class="button__fill-img__img">
                            <!--#include virtual="/components/general/svg/svg-plus.svg" -->
                        </div>
                        <p class="button-text">Купить всё</p>
                    </a>
                </div>
            </div>
            <div class="characteristic-text__assessment">
                <div class="characteristic-text__assessment-grade">
                    <div class="characteristic-text__assessment-grade__box">
                        <p class="characteristic-text__assessment-grade__box-item">Функциональность</p>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                    </div>
                    <div class="characteristic-text__assessment-grade__box">
                        <p class="characteristic-text__assessment-grade__box-item">Функциональность</p>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                    </div>
                    <div class="characteristic-text__assessment-grade__box">
                        <p class="characteristic-text__assessment-grade__box-item">Функциональность</p>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                    </div>
                    <div class="characteristic-text__assessment-grade__box">
                        <p class="characteristic-text__assessment-grade__box-item">Функциональность</p>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                        <div class="assessment-stars__item">
                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                        </div>
                    </div>

                    <div class="characteristic-text__assessment-grade__box-all">
                        <div class="characteristic-text__assessment-grade__box">
                            <p class="characteristic-text__assessment-grade__box-title">Функциональность</p>
                            <div class="assessment-stars__item">
                                <!--#include virtual="/components/general/svg/svg-star.svg" -->
                            </div>
                            <div class="assessment-stars__item">
                                <!--#include virtual="/components/general/svg/svg-star.svg" -->
                            </div>
                            <div class="assessment-stars__item">
                                <!--#include virtual="/components/general/svg/svg-star.svg" -->
                            </div>
                            <div class="assessment-stars__item">
                                <!--#include virtual="/components/general/svg/svg-star.svg" -->
                            </div>
                            <div class="assessment-stars__item">
                                <!--#include virtual="/components/general/svg/svg-star.svg" -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="characteristic-text__assessment-delivery">
                    <div class="characteristic-text__assessment-delivery__box">
                        <div class="characteristic-text__assessment-delivery__box-container">
                            <div class="characteristic-text__assessment-delivery__box-svg">
                                <!--#include virtual="/components/general/svg/svg-delivery.svg" -->
                            </div>
                            <div class="characteristic-text__assessment-delivery__box-container-box">
                                <span class="characteristic-text__assessment-delivery__box-text"><b>Доставка</b> — бесплатно, с 12 июля</span>
                                <span class="characteristic-text__assessment-delivery__box-text"><b>Самовывоз</b> из магазина сегодня, 10 июля</span>
                                <button class="button__link-small">
                                    Другие способы доставки
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="characteristic-text__assessment-delivery__box">
                        <div class="characteristic-text__assessment-delivery__box-container">
                            <div class="characteristic-text__assessment-delivery__box-svg">
                                <!--#include virtual="/components/general/svg/svg-delivery-2.svg" -->
                            </div>
                            <div class="characteristic-text__assessment-delivery__box-container-box">
                                <span class="characteristic-text__assessment-delivery__box-text"><b>Сборка</b> — бесплатно</span>
                                <button class="button__link-small">
                                    Другие способы доставки
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="characteristic-text__assessment-delivery__box">
                        <div class="characteristic-text__assessment-delivery__box-container">
                            <div class="characteristic-text__assessment-delivery__box-svg">
                                <!--#include virtual="/components/general/svg/svg-pay.svg" -->
                            </div>
                            <div class="characteristic-text__assessment-delivery__box-container-box">
                                <span class="characteristic-text__assessment-delivery__box-text"><b>Оплата</b> — предоплата не требуется</span>
                                <button class="button__link-small">
                                    Другие способы доставки
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>