.characteristic{
    display: grid;
    gap: @padding-huge;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    @media (max-width: 650px) {
        grid-template-columns: 1fr;
    }
    &-img{
        &__img{
            overflow: hidden;
            max-width: 600px;
            max-height: 550px;
        }
        &__button{
            padding-top: @padding-small;
            justify-content: space-between;
            display: flex;
            gap: @padding-small;
            &-slider{
                width: 50px;
                height: 70px;
                background: none;
                border: none;
            }
            &-button{
                width: 70px;
                height: 70px;
                overflow: hidden;
                background: none;
                border: none;
                @media (max-width: 1000px) {
                    display: none;
                }
                &__img{
                    transition-duration: .3s;
                    &:hover{
                        opacity: .7;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    &-text{
        &__line{
            border-bottom: 2px solid @button-5-color;
            margin: @padding-big 0px;
        }
        &__header{
            display: flex;
            gap: @padding-huge;
            justify-content: space-between;
            &-img{
                overflow: hidden;
                max-width: 250px;
                max-height: 30px;
                @media (max-width: 800px) {
                    display: none;
                }
                &__img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: @padding-small;
            @media (max-width: 1200px) {
                grid-template-columns: repeat(1, 1fr);
            }
            &-description{
                &__button{
                    display: flex;
                    gap: @padding-huge;
                    margin-bottom: @padding-big;
                }
                &__text{
                    &-description{
                        margin-bottom: @padding-big;
                    }
                }
            }
            &-buy{
                display: grid;
                gap: @padding-small;
                background: @card-4-color;
                padding: @padding-big;
                border-radius: 10px;
                &__price{
                    display: flex;
                    gap: @padding-small;
                    align-items: center;
                }
                &__price-dealers{
                    display: flex;
                    gap: @padding-small;
                    align-items: center;
                    padding: @padding-tiny @padding-small;
                    background: @button-3-color;
                    border-radius: 6px;
                    &__price{
                        font-size: 1rem;
                        font-weight: 700;
                        color: @text-3-color;
                    }
                    &__text{
                        font-size: .8rem;
                        font-weight: 500;
                        color: @text-3-color
                    }
                }
                &__bonus{
                    display: flex;
                    gap: @padding-small;
                    align-items: center;
                    &-bonus{
                        font-size: .8rem;
                        font-weight: 700;
                        color: @accent-1-color;
                    }
                    &-text{
                        font-size: .8rem;
                        color: @text-4-color;
                    }
                }
                &__pay{
                    display: flex;
                    gap: @padding-big;
                    align-items: center;
                    &-box{
                        display: flex;
                        gap: @padding-small;
                        align-items: center;
                    }
                    &-button{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: none;
                        border: 2px solid @button-3-color;
                        &:hover{
                            border: 2px solid @accent-1-color;
                        }
                        &__text{
                            font-size: 1rem;
                            color: @text-4-color;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        &__configuration{
            margin-top: @padding-huge;
            border-radius: 10px;
            background: @card-4-color;
            padding: @padding-huge;
            display: grid;
            gap: @padding-huge;
            &-title{
                font-size: 1.2rem;
                color: @text-2-color;
                font-weight: 700;
            }
            &-list{
                padding-top: @padding-huge;
                border-top: 2px solid @button-5-color;
                display: grid;
                gap: @padding-huge;
                grid-template-columns: 1fr 3fr;
                @media (max-width: 1000px) {
                    grid-template-columns: 1fr;
                }
                &__item{
                    &-title{
                        font-size: .9rem;
                        color: @text-2-color;
                        font-weight: 700;
                    }
                    &-form{
                        display: flex;
                        gap: @padding-middle;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        &__plus{
            margin-top: @padding-huge;
            display: grid;
            
            &-title{
                font-size: 1.2rem;
                color: @text-2-color;
                font-weight: 700;
                margin-bottom: @padding-huge;
            }
            &-list{
                display: grid;
                gap: @padding-huge;
                grid-template-columns: 1fr;
            }
            &-box{
                margin-top: @padding-huge;
                display: flex;
                align-items: center;
                gap: @padding-huge;
            }
        }
        &__assessment{
            margin-top: @padding-huge;
            background: @card-4-color;
            padding: @padding-huge;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: @padding-huge;
            @media (max-width: 1000px) {
                grid-template-columns: 1fr;
            }
            @media (max-width: 650px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 450px) {
                grid-template-columns: 1fr;
            }
            &-grade{
                display: flex;
                flex-direction: column;
                gap: @padding-tiny;
                &__box{
                    display: flex;
                    align-items: center;
                    gap: @padding-tiny;
                    &-item{
                        font-size: .8rem;
                    }
                    &-title{
                        font-size: .8rem;
                        font-weight: 700;
                    }
                    &-all{
                        margin-top: @padding-middle;
                    }
                }
            }
            &-delivery{
                display: grid;
                gap: @padding-small;
                &__box{
                    display: grid;
                    gap: @padding-tiny;
                    &-container{
                        display: grid;
                        grid-template-columns: .01fr 1fr;
                        gap: @padding-small;
                        justify-items: start;
                        &-box{
                            display: grid;
                            gap: @padding-tiny;
                        }
                    }
                    &-text{
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

.circle{
    &-black{
        background: #000;
    }
    &-red{
        background: red;
    }
    &-yellow{
        background: yellow;
    }
    &-grey{
        background: grey;
    }
    &-white{
        background: #fff;
    }
}