<section class="privacy-policy-section section">
    <div class="privacy-policy-container container">
        <h1 class="privacy-policy__title">Политика конфиденциальности</h1>
        <ol class="privacy-policy__list-1">
            <li class="privacy-policy__list-1__title">ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                <ol class="privacy-policy__list-2">
                    <li class="privacy-policy__list-2__title">В настоящей Политике конфиденциальности используются следующие термины:
                        <ol class="privacy-policy__list-3">
                            <li class="privacy-policy__list-3__title">«Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li>
                            <li class="privacy-policy__list-3__title">«Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</li>
                            <li class="privacy-policy__list-3__title">«Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="privacy-policy__list-1__title">ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
                <ol class="privacy-policy__list-2">
                    <li class="privacy-policy__list-2__title">Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.</li>
                    <li class="privacy-policy__list-2__title">Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.</li>
                    <li class="privacy-policy__list-2__title">Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.</li>
                    <li class="privacy-policy__list-2__title">Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.</li>
                    <li class="privacy-policy__list-2__title">Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.</li>
                </ol>
            </li>
            <li class="privacy-policy__list-1__title">ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                <ol class="privacy-policy__list-2">
                    <li class="privacy-policy__list-2__title">В настоящей Политике конфиденциальности используются следующие термины:
                        <ol class="privacy-policy__list-3">
                            <li class="privacy-policy__list-3__title">«Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li>
                            <li class="privacy-policy__list-3__title">«Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</li>
                            <li class="privacy-policy__list-3__title">«Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="privacy-policy__list-1__title">ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                <ol class="privacy-policy__list-2">
                    <li class="privacy-policy__list-2__title">В настоящей Политике конфиденциальности используются следующие термины:
                        <ol class="privacy-policy__list-3">
                            <li class="privacy-policy__list-3__title">«Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li>
                            <li class="privacy-policy__list-3__title">«Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</li>
                            <li class="privacy-policy__list-3__title">«Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</section>