<p class="bonus-accent__text-blue">text</p>

<div class="bonus-accent__text-green__box">
    <p class="bonus-accent__text-green__text">text</p>
    <div class="bonus-accent__text-green__box-items">
        <div class="bonus-accent__text-green__circle"></div>
        <div class="bonus-accent__text-green__circle"></div>
        <div class="bonus-accent__text-green__circle"></div>
    </div>
</div>

<div class="bonus-accent__text-green__box">
    <p class="bonus-accent__text-green__text">text</p>
    <div class="bonus-accent__text-green__box-items">
        <div class="bonus-accent__text-orange__circle"></div>
        <div class="bonus-accent__text-orange__circle-border"></div>
        <div class="bonus-accent__text-orange__circle-border"></div>
    </div>
</div>

<div class="bonus-accent__text-green__box">
    <p class="bonus-accent__text-green__text">text</p>
    <div class="bonus-accent__text-green__box-items">
        <div class="bonus-accent__text-red__circle-border"></div>
        <div class="bonus-accent__text-red__circle-border"></div>
        <div class="bonus-accent__text-red__circle-border"></div>
    </div>
</div>