<div class="font-section section container">
    <img src="assets/images/font-slider_1.jpg" alt="" class="font-section__img full-img">
    <div class="font-section__box">
        <div class="font-box__info">
            <div class="like">
                <img src="assets/images/love.png" alt="" class="like__img full-img">
                <p class="like__text small-text">10 201</p>
            </div>
            <h1 class="font-box__info-title title-text text-color__white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, blanditiis?
            </h1>
            <p class="font-box__info-text small-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, error.</p>
        </div>
        <div class="font-box__peoples">
            <img src="assets/images/font-slider_1.jpg" alt="" class="font-box__peoples-img full-img circle-img__border">
            <img src="assets/images/font-slider_1.jpg" alt="" class="font-box__peoples-img full-img circle-img__border">
            <img src="assets/images/font-slider_1.jpg" alt="" class="font-box__peoples-img full-img circle-img__border">
            <div class="font-box__peoples-line"></div>
            <div class="">
                <button class="font-box__peoples-button button-text">Yes</button>
                <button class="font-box__peoples-button button-text">No</button>
            </div>
        </div>
    </div>
    <div class="font-box__menu">
        <h2 class="font-box__menu-title">great boll</h2>
        <div class="font-box__menu-line"></div>
        <button class="font-box__menu-button button-text">Blog Post</button>
        <button class="font-box__menu-button button-text">Events</button>
        <button class="font-box__menu-button button-text">Photos</button>
        <button class="font-box__menu-button button-text">Music</button>
        <button class="font-box__menu-button button-text">Video</button>
    </div>
</div>
