<div class="pinbord-section section container">
    <h3 class="pinbord-title">Your pinbord</h3>
    <div class="pinbord-box">
        <p class="pinbord-box__text">sort by</p>
        <button class="pinbord-box__button button-circle border-red"></button>
        <button class="pinbord-box__button button-circle border-green"></button>
        <button class="pinbord-box__button button-circle border-blue"></button>
        <button class="pinbord-box__button button-circle border-yellow"></button>
    </div>
</div>