<footer class="footer section container">
    <button class="footer-button">
        <
    </button>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-number">1</div>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-zero"></div>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-number">3</div>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-actually-date">4 June</div>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-number">5</div>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-zero"></div>
        <div class="footer-box__line"></div>
        <div class="footer-box__date-number">7</div>
        <div class="footer-box__line"></div>
    <button class="footer-button">
        >
    </button>
</footer>