<section class="buy-with-section section">
    <div class="buy-with__container container">
        <h2 class="buy-with__container-title">С этим товаром покупают</h2>
        <div class="buy-with__container-list">
            <div class="shop-item__flex box-shadow">  
                <a href="item-index.html" class="shop-item__img">
                    <div class="shop-item__img-box">
                        <div class="shop-item__img-box__item">
                            <div class="product-feature">
                                <div class="product-feature__circle product-feature__circle-red">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-percent.svg" -->
                                    </div>
                                </div>
                                <div class="product-feature__circle product-feature__circle-blue">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-like-up.svg" -->
                                    </div>
                                </div>
                                <div class="product-feature__circle product-feature__circle-green">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-new.svg" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-item__img-box__item">
                            <div class="shop-item__img-box__item-svg">
                                <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                            </div>
                            <div class="shop-item__img-box__item-svg">
                                <!--#include virtual="/components/general/svg/svg-like.svg" -->
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </a>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <div class="shop-item__description-box__item__bonus-item">
                                <div class="bonus-accent__text-green__box">
                                    <p class="bonus-accent__text-green__text">text</p>
                                    <div class="bonus-accent__text-green__box-items">
                                        <div class="bonus-accent__text-green__circle"></div>
                                        <div class="bonus-accent__text-green__circle"></div>
                                        <div class="bonus-accent__text-green__circle-border"></div>
                                    </div>
                                </div>
                                <p class="bonus-accent__text-blue">text</p>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolo</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box-flex">
                                <p class="price-product__new">10 000 $</p>
                                <p class="price-product__old">11 000 $</p>
                            </div>
                            <div class="shop-item__description-box__item__footer__button-box">
                                <a href="item-index.html" class="button__fill-img button-setting button-setting__fill">
                                    <div class="button__fill-img__img">
                                        <!--#include virtual="/components/general/svg/svg-shop.svg" -->
                                    </div>
                                    <p class="button-text">text</p>
                                </a>
                                <a href="item-index.html" class="button__link-big shop-item__description-box__item__footer__button-box__button">Подробнее</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shop-item__flex box-shadow">  
                <a href="item-index.html" class="shop-item__img">
                    <div class="shop-item__img-box">
                        <div class="shop-item__img-box__item">
                            <div class="product-feature">
                                <div class="product-feature__circle product-feature__circle-red">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-percent.svg" -->
                                    </div>
                                </div>
                                <div class="product-feature__circle product-feature__circle-blue">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-like-up.svg" -->
                                    </div>
                                </div>
                                <div class="product-feature__circle product-feature__circle-green">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-new.svg" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-item__img-box__item">
                            <div class="shop-item__img-box__item-svg">
                                <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                            </div>
                            <div class="shop-item__img-box__item-svg">
                                <!--#include virtual="/components/general/svg/svg-like.svg" -->
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </a>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <div class="shop-item__description-box__item__bonus-item">
                                <div class="bonus-accent__text-green__box">
                                    <p class="bonus-accent__text-green__text">text</p>
                                    <div class="bonus-accent__text-green__box-items">
                                        <div class="bonus-accent__text-green__circle"></div>
                                        <div class="bonus-accent__text-green__circle"></div>
                                        <div class="bonus-accent__text-green__circle-border"></div>
                                    </div>
                                </div>
                                <p class="bonus-accent__text-blue">text</p>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolo</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box-flex">
                                <p class="price-product__new">10 000 $</p>
                                <p class="price-product__old">11 000 $</p>
                            </div>
                            <div class="shop-item__description-box__item__footer__button-box">
                                <a href="item-index.html" class="button__fill-img button-setting button-setting__fill">
                                    <div class="button__fill-img__img">
                                        <!--#include virtual="/components/general/svg/svg-shop.svg" -->
                                    </div>
                                    <p class="button-text">text</p>
                                </a>
                                <a href="item-index.html" class="button__link-big shop-item__description-box__item__footer__button-box__button">Подробнее</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shop-item__flex box-shadow">  
                <a href="item-index.html" class="shop-item__img">
                    <div class="shop-item__img-box">
                        <div class="shop-item__img-box__item">
                            <div class="product-feature">
                                <div class="product-feature__circle product-feature__circle-red">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-percent.svg" -->
                                    </div>
                                </div>
                                <div class="product-feature__circle product-feature__circle-blue">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-like-up.svg" -->
                                    </div>
                                </div>
                                <div class="product-feature__circle product-feature__circle-green">
                                    <div class="product-feature__circle-item">
                                        <!--#include virtual="/components/general/svg/svg-new.svg" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-item__img-box__item">
                            <div class="shop-item__img-box__item-svg">
                                <!--#include virtual="/components/general/svg/svg-sort.svg" -->
                            </div>
                            <div class="shop-item__img-box__item-svg">
                                <!--#include virtual="/components/general/svg/svg-like.svg" -->
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                </a>
                <div class="shop-item__description">
                    <ul class="shop-item__description-box">
                        <li class="shop-item__description-box__item">
                            <div class="shop-item__description-box__item__bonus-item">
                                <div class="bonus-accent__text-green__box">
                                    <p class="bonus-accent__text-green__text">text</p>
                                    <div class="bonus-accent__text-green__box-items">
                                        <div class="bonus-accent__text-green__circle"></div>
                                        <div class="bonus-accent__text-green__circle"></div>
                                        <div class="bonus-accent__text-green__circle-border"></div>
                                    </div>
                                </div>
                                <p class="bonus-accent__text-blue">text</p>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item">
                            <h3 class="text-title__h3">Lorem ipsum dolo</h3>
                        </li>
                        <li class="shop-item__description-box__item__assessment">
                            <div class="assessment-stars">
                                <p class="assessment-stars__text">Text:</p>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                                <div class="assessment-stars__item">
                                    <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                </div>
                            </div>
                        </li>
                        <li class="shop-item__description-box__item__footer">
                            <div class="shop-item__description-footer__box-flex">
                                <p class="price-product__new">10 000 $</p>
                                <p class="price-product__old">11 000 $</p>
                            </div>
                            <div class="shop-item__description-box__item__footer__button-box">
                                <a href="item-index.html" class="button__fill-img button-setting button-setting__fill">
                                    <div class="button__fill-img__img">
                                        <!--#include virtual="/components/general/svg/svg-shop.svg" -->
                                    </div>
                                    <p class="button-text">text</p>
                                </a>
                                <a href="item-index.html" class="button__link-big shop-item__description-box__item__footer__button-box__button">Подробнее</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>