<footer class="footer section">
    <div class="footer-box__upper container">
        <div class="footer-box">
            <div class="footer-box__menu-box">
                <ul class="footer-box__menu-box__list">
                    <li class="footer-box__menu-box__list-item">
                        <h3 onclick="Show_Block('footer-menu-box__catalog')" class="footer-box__menu-box__list-item__title">Каталог</h3>
                        <div class="footer-box__menu-box__list-item__box" id="footer-menu-box__catalog">
                            <a href="" class="button__link-middle">Для дома</a>
                            <a href="" class="button__link-middle">Для фитнес клуба</a>
                            <a href="" class="button__link-middle">Акции</a>
                            <a href="" class="button__link-middle">Идеи и подборки</a>
                            <a href="" class="button__link-middle">Новинки</a>
                            <a href="" class="button__link-middle">Наши бренды</a>
                        </div>
                    </li>
                    <li class="footer-box__menu-box__list-item">
                        <h3 onclick="Show_Block('footer-menu-box__support')" class="footer-box__menu-box__list-item__title">Поддержка</h3>
                        <div class="footer-box__menu-box__list-item__box" id="footer-menu-box__support">
                            <a href="" class="button__link-middle">Доставка и оплата</a>
                            <a href="" class="button__link-middle">Условия возврата</a>
                            <a href="" class="button__link-middle">Сервисная заявка</a>
                            <a href="" class="button__link-middle">Обслуживание фитнес клубов</a>
                            <a href="" class="button__link-middle">FAQ</a>
                            <a href="" class="button__link-middle">Инструкции</a>
                            <a href="" class="button__link-middle">Гарантии</a>
                        </div>
                    </li>
                    <li class="footer-box__menu-box__list-item">
                        <h3 onclick="Show_Block('footer-menu-box__services')" class="footer-box__menu-box__list-item__title">Услуги</h3>
                        <div class="footer-box__menu-box__list-item__box" id="footer-menu-box__services">
                            <a href="" class="button__link-middle">3D проект</a>
                            <a href="" class="button__link-middle">Консалтинг</a>
                            <a href="" class="button__link-middle">Бизнес планирование</a>
                            <a href="" class="button__link-middle">Лизинг</a>
                            <a href="" class="button__link-middle">Trade-IN</a>
                            <a href="" class="button__link-middle">В рассрочку</a>
                        </div>
                    </li>
                    <li class="footer-box__menu-box__list-item">
                        <h3 onclick="Show_Block('footer-menu-box__about-company')" class="footer-box__menu-box__list-item__title">О компании</h3>
                        <div class="footer-box__menu-box__list-item__box" id="footer-menu-box__about-company">
                            <a href="" class="button__link-middle">О нас</a>
                            <a href="" class="button__link-middle">Наша миссия</a>
                            <a href="" class="button__link-middle">Наша команда</a>
                            <a href="" class="button__link-middle">Наши проекты</a>
                            <a href="" class="button__link-middle">Новости</a>
                            <a href="" class="button__link-middle">Блог</a>
                            <a href="" class="button__link-middle">Где купить</a>
                            <a href="" class="button__link-middle">Контакты</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-box__info-box">
                <button class="button__fill-grey button-setting button-setting__fill">
                    <p class="button-text">Подписаться на рассылку</p>
                    <div class="button-img">

                    </div>
                </button>
                <div class="footer-box__info-box__telefon-box">
                    <a href="tel:+380950000000" class="footer-box__info-box__telefon-box__link button__link-middle">+380(50)000-00-00 для Vodafon</a>
                    <a href="tel:+380970000000" class="footer-box__info-box__telefon-box__link button__link-middle">+380(66)000-00-00 для LifeSell</a>
                    <a href="tel:+380950000000" class="footer-box__info-box__telefon-box__button button__link-small-2">Заказать звонок</a>    
                </div>
                <div class="footer-box__info-box__mail-box">
                    <a href="mailto:wellfitness@wellfit.com" class="footer-box__info-box__mail-box__link button__link-middle">wellfitness@wellfit.com</a>
                    <a href="mailto:wellfitness@wellfit.com" class="footer-box__info-box__mail-box__button button__link-small-2">Написать</a>
                </div>
                <div class="footer-box__info-box__resurs-box">
                    <a href="" class="footer-box__info-box__resurs-box__link button__link-small">Политика конфиденциальности</a>
                    <a href="" class="footer-box__info-box__resurs-box__link button__link-small">Публичная офферта</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-box__lower container">
        <div class="footer-box__img-box">
            <div class="footer-box__img-box__box">
                <img src="assets/images/footer-logo.png" alt="" class="footer-box__img-box__box-img full-img">
            </div>
            <a href="" class="footer-box__img-box__link">© WellFitness. 2007 Все права защищены</a>
        </div>
        <div class="footer-box__network-box">
            <a href="https://www.instagram.com/" target="_blank" class="footer-box__network-box__box">
                <!--#include virtual="/components/general/svg/svg-instagram.svg" -->
            </a>
            <a href="https://ru-ru.facebook.com/" target="_blank" class="footer-box__network-box__box">
                <!--#include virtual="/components/general/svg/svg-facebook.svg" -->
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="footer-box__network-box__box">
                <!--#include virtual="/components/general/svg/svg-youtube.svg" -->
            </a>
        </div>
        <div class="footer-box__button-box">
            <button class="button__fill-grey button-setting button-setting__fill">
                <p class="button-text">Become a Partner </p>
            </button>
            <button class="button__fill-grey__border button-setting button-setting__fill">
                <p class="button-text">Для дилеров </p>
            </button>            
        </div>
        <div class="footer-box__payment-box">
            <div class="footer-box__payment-box">
                <!--#include virtual="/components/general/svg/svg-visa.svg" -->
            </div>
            <div class="footer-box__payment-box">
                <!--#include virtual="/components/general/svg/svg-mastercard.svg" -->
            </div>
            <div class="footer-box__payment-box">
                <!--#include virtual="/components/general/svg/svg-webmoney.svg" -->
            </div>
            <div class="footer-box__payment-box">
                <!--#include virtual="/components/general/svg/svg-paypal.svg" -->
            </div>
        </div>
    </div>
</footer>