<section class="advertising-section section">
    <div class="advertising container">
        <div class="advertising-box box-shadow">
            <img src="assets/images/Rectangle1.png" alt="" class="advertising-box__img full-img">
            <div class="advertising__text-box">
                <h2 class="advertising__text-box__title">Лучшие тренажеры для жиросжигания</h2>
                <div class="advertising__text-box__container">
                    <div class="advertising__text-box__container-img">
                        <img src="assets/images/time.jpg" alt="" class="advertising__text-box__container-img__img full-img">
                    </div>
                    <p class="advertising__text-box__container-text">
                        Тренировка всего 
                        <span class="advertising__text-box__container-text__weight">14 минут</span>
                    </p>
                </div>
                <div class="advertising__text-box__img">
                    <img src="assets/images/advertisinglogo.png" alt="" class="advertising__text-box__img-img full-img">
                </div>
            </div>
            <div class="advertising__img-box">
                <img src="assets/images/advertisingsmall1.png" alt="" class="advertising__img-box__img full-img">
            </div>
        </div>
        
        <div class="advertising-box box-shadow">
            <div class="advertising__text-box">
                <h2 class="advertising__text-box__title-2">
                    Кардио-силовая тренировка
                    <p class="advertising__text-box__title-2-text-2">2 в 1</p>
                </h2>
            </div>
            <div class="advertising__img-box">
                <img src="assets/images/advertisingsmall2.png" alt="" class="advertising__img-box__img full-img">
            </div>
        </div>
    </div>
</section>