<section class="catalog-section section">
    <div class="catalog container">
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Бренды</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Сервис</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Услуги</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Поддержка</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">О компании</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Блог</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Где купить</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Контакты</h3>
        </div>
    </div>
</section>