<section class="catalog-section section">
    <div class="catalog container">
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
        <div class="catalog-item box-shadow">
            <div class="catalog-item__img">
                <img src="assets/images/cloud-1.png" alt="" class="catalog-item__img-img full-img">
            </div>
            <h3 class="catalog-item__title">Какая-то фигня</h3>
        </div>
    </div>
</section>