<section class="buy-form__section section">
    <div class="buy-form__container cantainer">
        <div class="buy-form__container-nav">
            <button class="buy-form__container-nav__button">
                <h3 class="buy-form__container-nav__button-title">адрес</h3>
                <span class="buy-form__container-nav__button-text">1</span>
            </button>
            <div class="buy-form__container-nav__line"></div>
            
            <button class="buy-form__container-nav__button">
                <h3 class="buy-form__container-nav__button-title">адрес</h3>
                <span class="buy-form__container-nav__button-text">1</span>
            </button>
            <div class="buy-form__container-nav__line"></div>
            <button class="buy-form__container-nav__button">
                <h3 class="buy-form__container-nav__button-title">адрес</h3>
                <span class="buy-form__container-nav__button-text">1</span>
            </button>
        </div>
        <h2 class="buy-form__container-title">Lorem ipsum dolor sit.</h2>
        <ul class="buy-form__container-menu">
            <li class="buy-form__container">
                <button class="buy-form__container">Доставка</button>
            </li>
            <li class="buy-form__container">
                <button class="buy-form__container">Опалата</button>
            </li>
            <li class="buy-form__container">
                <button class="buy-form__container">Просмотр</button>
            </li>
        </ul>

        <form action="" class="buy-form__container-form">
            
        </form>
    </div>
</section>