.music-box{
    &-section{
        background-color: @body-color;
    }

    display: grid;
    padding: @padding-middle 0px;
    gap: @padding-middle;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    &__item{
        min-height: 320px;
        position: relative;
        background: #fff;
        padding: @padding-middle;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &-box{
            flex: 1 0 auto;
            position: relative;
            z-index: 2;
        }

        &-img{
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &-header{
            display: flex;
            justify-content: space-between;
        }
        &-title{
            padding-top: @padding-middle;
            padding-bottom: @padding-small;
        }
        &-footer{
            position: relative;
            z-index: 2;
            flex: 0 0 auto;
            padding-top: @padding-huge;
            &__music{
                padding-top: @padding-small;
                display: grid;
                align-items: center;
                gap: @padding-middle;
                grid-template-columns: 0.1fr 1fr;
                &-button{
                    border: none;
                    background: none;
                    width: 30px;
                    height: 30px;
                }
                &-audio{
                    display: grid;
                    grid-template-columns: 1fr 0.5fr;
                    border-radius: 10px;
                    border: 2px solid @inactive-color;
                    padding: 3px;
                    &__listen{
                        border-radius: 10px;
                        border: 2px solid @inactive-color;
                        background: @inactive-color;
                    }
                }
            }
        }
    }
}