<section class="basket-section section">
    <div class="basket container">
        <div class="basket-filled box-shadow">
            <h2 class="basket-title">Корзина</h2>
            <div class="basket-filled__header">
                <button class="button__fill-img button-setting button-setting__fill">
                    <div class="button__fill-img__img">
                        <!--#include virtual="/components/general/svg/svg-buy.svg" -->
                    </div>
                    <p class="button-text">Купить всё</p>
                </button>
                <span class="basket-filled__pay-text">Всего:</span>
                <span class="basket-filled__pay-money">13 000 $</span>
            </div>
            <div class="basket-filled__item">
                <div class="basket-filled__box">
                    <div class="shop-item__flex box-shadow">
                        <a href="item-index.html" class="shop-item__img-small">
                            <img src="assets/images/img-people-3.jpg" alt="" class="shop-item__img-img full-img">
                        </a>
                        <div class="shop-item__description">
                            <ul class="shop-item__description-box">
                                <li class="shop-item__description-box__item">
                                    <div class="shop-item__description-box__item__bonus-item">
                                        <div class="bonus-accent__text-green__box">
                                            <p class="bonus-accent__text-green__text">text</p>
                                            <div class="bonus-accent__text-green__box-items">
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle"></div>
                                                <div class="bonus-accent__text-green__circle-border"></div>
                                            </div>
                                        </div>
                                        <p class="bonus-accent__text-blue">text</p>
                                    </div>
                                </li>
                                <li class="shop-item__description-box__item">
                                    <h3 class="text-title__h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates!</h3>
                                </li>
                                <li class="shop-item__description-box__item__assessment">
                                    <div class="assessment-stars">
                                        <p class="assessment-stars__text">Text:</p>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                        <div class="assessment-stars__item">
                                            <!--#include virtual="/components/general/svg/svg-star.svg" -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="basket-filled__pay">
                    <div class="characteristic-text__container-buy__pay">
                        <div class="characteristic-text__container-buy__pay-box">
                            <button class="characteristic-text__container-buy__pay-button"><span class="characteristic-text__container-buy__pay-button__text">-</span></button>
                            <span class="characteristic-text__container-buy__pay-cont">1</span>
                            <button class="characteristic-text__container-buy__pay-button"><span class="characteristic-text__container-buy__pay-button__text">+</span></button>
                        </div>
                        <button class="button__fill-img button-setting button-setting__fill">
                            <div class="button__fill-img__img">
                                <!--#include virtual="/components/general/svg/svg-buy.svg" -->
                            </div>
                            <p class="button-text">Купить</p>
                        </button>
                        <button class="button__fill-img button-setting button-setting__fill">
                            <div class="button__fill-img__img">
                                <!--#include virtual="/components/general/svg/svg-delete.svg" -->
                            </div>
                        </button>
                    </div>
                    <span class="basket-filled__pay-money">13 000 $</span>
                </div>
            </div>
        </div>
        
        <div class="basket-none box-shadow">
            <div class="basket-none__box ">
                <div class="basket-none__box-img">
                    <!--#include virtual="/components/general/svg/basket.svg" -->
                </div>
                <h3 class="basket-none__box-title">Корзина пуста</h3>
                <p class="basket-none__box-text">Но это никогда не поздно исправить :)</p>
            </div>
            <!--#include virtual="/components/sections/view-section/view-section.html" -->
        </div>
    </div>
</section>