<section class="advertising-section-big__section section">
    <div class="advertising-section-big__container container">
        <div class="advertising-section-big__container-img">
            <img src="assets/images/advertisingsmall3.png" alt="" class="advertising-section-big__container-img__img full-img">
        </div>
        <div class="advertising-section-big__container-text">
            <div class="advertising-section-big__container-text__box">
                <h2 class="advertising-section-big__container-text__box-title">Помощь в выборе</h2>
                <p class="advertising-section-big__container-text__box-text">Как выбрать беговую дорожку для дома</p>
            </div>
        </div>
    </div>
</section>